* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: antiquewhite;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  display: flex;
  background: wheat;
  padding: 10px;
  margin: 20px;
  width: 550px;
  border-radius: 5%;
  justify-content: space-between;
}

.card__title {
  height: 50px;
}

.card__name {
  height: 50px;
}

.card__flag img {
  width: 250px;
  height: 100%;
}

.card__timeZone {
  width: 200px;
  height: 50px;
  overflow: hidden;
}

h1 {
  text-align: center;
}
